body {
    margin: 0;
    background: #0d1d30d7;
    font-family: system-ui;
    display: grid;
    place-content: center;
}

.Semaforo{
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    justify-content: space-between;
}